<div id="domTree">
	
	<h1 id="page-title">Welcome, Heroes!</h1>

        <p>Power Outfitters offers top of the line merchandise at rock-bottom
        prices for the discerning costumed crime-fighter. From belts to boomerangs,
        we’re your one-stop shop for all your specialized gadgetry and costuming
        needs.</p>

        <p>Come browse our wide selection of capes, cowls, masks, boots, belts,
        gloves, tights, unitards, and leotards in all the colors of the rainbow.
        Our clothiers are on call 24 hours a day, always ready in a pinch to
        replace a singed cloak or patch a ripped tunic, because we know crime
        doesn’t sleep and justice can never rest.</p>

        <section id="new-item">
          <h2>Brand New Item!</h2>

          <div class="product">
            <a class="url" href="/gear/exotics/AR7111-bionic-eye">
              <figure>
                <img class="product-img" src="/static/images/nice_seafront.jpg" alt="An electronic eye with green iris" width="300" height="225">
                <figcaption>
                  <h3 class="name">AR7111 Bionic Eye</h3>
                  <p class="description">See into the far reaches! Processes electromagnetic frequencies beyond ordinary human vision directly into your brain. Installed in a simple outpatient procedure.</p>
                </figcaption>
              </figure>
            </a>
            <p><b class="price">$23,299</b> (each)</p>
            <p><button class="cart-add" type="submit" name="product" value="AR7111-bionic-eye" form="cart">Add to Cart</button></p>
          </div>

        </section>


</div>